/* |||||||||| |||||||||| |||||||||| |||||||||| xl */
@media (width <= 1400px) {
	.chart:not(.alt) {
		--chart-size: 115%;
	}
	.chart {
		--col: 5;
		--x: 2;
		--asp: 16 / 9;
	}

	.xl-gaf-row {
		grid-auto-flow: row;
	}

	.xl-bg-img-none {
		background-image: none;
	}

	.xl-order-0 {
		order: 0;
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| sm */
@media (width <= 768px) {
	.sm-d-none {
		display: none;
	}
}
